@media screen and (max-width: 315px) {

    .loader-long {
        top: 0;
        left: 0;
        height: 10px;
        border-radius: 0;
    }

    main {
        width: 260px;
        height: 250px;
        margin-left: 0.1rem;
    }

    .main-logo {
        display: none;
    }

    .result {
        padding: 5px;
        font-size: 20px;
        margin-top: 3rem;
    }
}